# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/build
/dist

# Testing
/coverage

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.log
*.cache
*.tgz

# Mac system files
.AppleDouble
.LSOverride


package-lock.json